<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>311 data visulization</title>

</head>
<body>
<div class="row">

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Yearly visualization of different categories </h3>
                        <form name="reg">
                            <div class="form-group">
                                <label>Enter Year :</label>
                                <input title="year" id="year" type="number" value="2010" ng-model="swa.asp" class="form-control">
                                <p id="yearErrorMessage" style="color: red"></p>
                            </div>
                            <div class="form-group">
                            <label>Select order:</label>
                            <select class="form-control custom-select" id="order" title="order" ng-model="swa.asq">
                                <option value="DESC">Descending order</option>
                                <option value="%20">Ascending order</option>
                            </select>
                                <p id="orderErrorMessage" style="color: red"></p>
                             </div>
                            <button class="btn btn-primary" data-ng-click = "myfunction3(swa)"> click to get results</button>
                        </form>
                    <br>
                    <div>
                        <br>
                        <table id="tt41" style="display: none">
                            <tr>
                                <th>category</th>
                                <th>no. of requests</th>
                            </tr>
                            <tr ng-repeat="user in data4">
                                <td>{{user.category}}</td>
                                <td>{{user.count_case_id}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="piechart" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Monthly visualization for a <br/>
                            selected category</h3>
                        <form>
                            <div class="form-group">
                                <label>Enter Month :</label>
                                <input title="month" id="month" type="number" value="1" ng-model="sw.mo" class="form-control">
                                <p id="yearErrorMessage1" style="color: red"></p>
                            </div>
                            <div class="form-group" id="order1">
                                <label>Select catageory by year(15-17):</label>
                                <select class="form-control custom-select" title="year15 to 17" ng-model="sw.year">
                                    <option title="year" value="2017"> 2017</option>
                                    <option title="year" value="2016"> 2016</option>
                                    <option title="year" value="2015"> 2015</option>
                                    <option title="year" value="2014"> 2014 </option>
                                </select>
                                <p id="orderErrorMessage2" style="color: red"></p>
                            </div>
                            <div class="form-group" id="order2">
                                <label>Select catageory:</label>
                                <select class="form-control custom-select" title="category" ng-model="sw.cat">
                                    <option title="category" value="Trash / Recycling"> Trash / Recycling</option>
                                    <option title="category" value="Animals / Pets">Animals / Pets</option>
                                    <option title="category" value="Water"> Water </option>
                                    <option title="category" value="Trees"> Trees </option>
                                    <option title="category" value="Vehicles / Parking"> Vehicles / Parking</option>
                                    <option title="category" value="Signs"> Signs</option>
                                    <option title="category" value="Water Leak">Water Leak</option>
                                    <option title="category" value="Lights / Signals"> Lights / Signals</option>
                                    <option title="category" value="Property / Buildings / Construction"> Property / Construction</option>
                                </select>
                                <p id="orderErrorMessage3" style="color: red"></p>
                            </div>
                            <button class="btn btn-primary" data-ng-click = "myfunction5(sw)"> click to get results</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tt42" style="display: none">
                        <p>no. of records on {{sw.cat}} in this month:{{data6}}</p>
                    <div id="chart1_div" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Monthly visualization of different categories </h3>
            <form>
                <div class="form-group">
                    <label>Enter Month :</label>
                    <input title="month2" type="number" value="3" ng-model="swa.asr" class="form-control" id="month2">
                    <p id="yearErrorMessage4" style="color: red"></p>
                </div>
                <div class="form-group">
                    <label>Enter Year :</label>
                    <input title="year2" type="number" value="2010" ng-model="swa.asp" class="form-control" id="year2">
                    <p id="yearErrorMessage5" style="color: red"></p>
                </div>
                <div class="form-group">
                    <label>Select order:</label>
                    <select class="form-control custom-select" title="order" ng-model="swa.asq">
                        <option value="DESC">Descending order</option>
                        <option value="%20">Ascending order</option>
                    </select>
                </div>
                <button class="btn btn-primary" data-ng-click = "myfunction4(swa)"> click to get results</button>
            </form>
            <div>
                <table>
                    <tr>
                        <th>category</th>
                        <th>no. of requests</th>
                    </tr>
                    <tr ng-repeat="user in data5">
                        <td>{{user.category}}</td>
                        <td>{{user.count_case_id}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>