.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 23px;
}
.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #f44336;} /* Red */
.button3 {background-color: #ff323d;} /* Gray */
.button4 {background-color: yellowgreen}
.button5 {background-color: #008CBA}

.form-control{
    width: 174px !important;
}

.umkc-image{
    position: relative;
    float: right;
    right:185px;
    top:80px;
    z-index:2;
}
