<html>

<style>
    table, th, td {

        border-collapse: collapse;
        font-weight: bold;

    }
    th, td {
        padding: 5px;
        text-align: right;

    }
    .form{
        display: inline-block;
    }
    .tt{
        display: inline;
    }
</style>
<title>311 data visulization</title>
<body>
<h1>Area zip code data visulization</h1>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="form">
                        <form>
                            <div class="form-group">
                                <label>Enter Month :</label>
                                <input title="" type="number" value="select month number" ng-model="use.month" class="form-control" id="month3">
                                <p id="yearErrorMessage7" style="color: red"></p>
                            </div>
                            <div class="form-group">
                                <label>Enter Year :</label>
                                <input title="" type="number" value="select year" ng-model="use.year" class="form-control" id="year3">
                                <p id="yearErrorMessage6" style="color: red"></p>
                            </div>
                            <button class="btn btn-primary" data-ng-click = "myfunction1(use)"> click to get results</button>
                        </form>
                    </div>
                    <div class="tt">
                        <!-- <h3> Maximum No. of call service requests by zipcode for {{use.month}} month and {{use.year}} year </h3> -->
                        <table class="dat" id="tt31" style="display: none">
                            <tr>
                                <th>Zip code</th>
                                <th>No. of service calls</th>
                            </tr>
                            <tr>
                                <td>{{data211}}</td>
                                <td>{{data21}}</td>
                            </tr>

                            <tr>
                                <td>{{data212}}</td>
                                <td>{{data22}}</td>
                            </tr>

                            <tr>
                                <td>{{data213}}</td>
                                <td>{{data23}}</td>
                            </tr>

                            <tr>
                                <td>{{data214}}</td>
                                <td>{{data24}}</td>
                            </tr>

                            <tr>
                                <td>{{data215}}</td>
                                <td>{{data25}}</td>
                            </tr>

                            <tr>
                                <td>{{data216}}</td>
                                <td>{{data26}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="piechart" style="width: 700px; height: 600px; background-color: transparent"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label>Enter Month :</label>
                        <input title="month" type="number" value="select month number" ng-model="my.month1" class="form-control" id="month4">
                        <p id="yearErrorMessage9" style="color: red"></p>
                    </div>
                    <div class="form-group">
                        <label>Enter Year :</label>
                        <input title="year" type="number" value="select month number" ng-model="my.year1" class="form-control" id="year4">
                        <p id="yearErrorMessage8" style="color: red"></p>
                    </div>
                    <div class="form-group">
                        <label>Select status:</label>
                        <select class="form-control custom-select" title="status" ng-model="my.stas">
                            <option value="OPEN">open</option>
                            <option value="CANC">cancelled</option>
                            <option value="ASSIG">assigned</option>
                            <option value="RESOL">resolved</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" data-ng-click = "myfunction2(my)"> click to get results</button>
                </form>
                <div class="tt">
                    <!--<h3> The staus of {{my.stas}} call service requests by zipcode for particular month and year </h3>-->
                    <table class="dat" id="tt32" style="display: none" >
                        <tr>
                            <th>Zip code</th>
                            <th>No. of service calls</th>
                        </tr>
                        <tr>
                            <td>{{data311}}</td>
                            <td>{{data31}}</td>
                        </tr>

                        <tr>
                            <td>{{data321}}</td>
                            <td>{{data32}}</td>
                        </tr>

                        <tr>
                            <td>{{data331}}</td>
                            <td>{{data33}}</td>
                        </tr>

                        <tr>
                            <td>{{data341}}</td>
                            <td>{{data34}}</td>
                        </tr>

                        <tr>
                            <td>{{data351}}</td>
                            <td>{{data35}}</td>
                        </tr>

                        <tr>
                            <td>{{data361}}</td>
                            <td>{{data36}}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart_div" style="width: 750px; height: 500px;"></div>
            </div>
        </div>



    </div>






</div>


</body>
</html>