<html lang="en">
<head>
    <title>311 City Comparison</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        /* Set gray background color and 100% height */
        /* Set gray background color and 100% height */


        /* Set gray background color and 100% height */
        .sidenav {
            background-color: azure;
            height: 100%;
            position: fixed;
            width: 200px;
            overflow-y: scroll;
            top: 0;
            bottom: 0;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
        .container1{
            margin-left: 15%;
        }
        .list1{
            color : #e7711b
        }

        .table{
            color : #e7711b
        }

        .page-header{
            color : #e7711b
        }
        input[type=text] {
            width: 200px;
            padding: 10px 14px;
            margin: 0px 0px -20px 350px;
            box-sizing: border-box;
            border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            font-size: 15px;
        }

        input[type=text]:focus {
            border: 3px solid #555;
        }
        .button {
            background-color: #e7711b; /* Green */
            border: none;
            color: white;
            padding: 10px 13px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 2px 0px -20px 9px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }
        .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4),0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .button:active {
            transform: translateY(3px);
        }

    </style>
</head>
<body data-ng-app ="app" ng-controller="MinCtrl">
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <br>
            <button onclick="window.location.href='https://311-data-analysis.azurewebsites.net'" class="btn btn-success">Go Home</button>
            <h3 class="text-success" style="color : #e7711b">Categories</h3>
            <ul class="nav nav-pills nav-stacked list1" >
                <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                <li><a data-toggle="pill" href="#Kansas_City">Kansas City</a></li>
                <li><a data-toggle="pill" href="#new_York_City">NewYork City</a></li>
                <li><a data-toggle="pill" href="#austin">Austin, TX</a></li>
                <li><a data-toggle="pill" href="#baton_Rouge">Baton Rouge, LA</a></li>
                <li><a data-toggle="pill" href="#chattanooga">Chattanooga, TN</a></li>
                <li><a data-toggle="pill" href="#gainesville">Gainesville, FL</a></li>
                <li><a data-toggle="pill" href="#new_Orleans">New Orleans, LA</a></li>
                <li><a data-toggle="pill" href="#san_Francisco">San Francisco, CA</a></li>
                <li><a data-toggle="pill" href="#cincinnati">Cincinnati, OH</a></li>
                <li><a data-toggle="pill" href="#oakland">Oakland, CA</a></li>
            </ul><br>
        </div>
        <div class="col-sm-9 container1">
            <div class="tab-content">

                <div id="home" class="tab-pane fade in active container-fluid text-center">

                </div>
                <!--Kansas city-->
                <div id="Kansas_City" class="tab-pane fade" >
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Kansas City</h2>
                        <input type="text" id="selected_year" name="selected_year" value="2017" ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "kcfunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2007-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in kcvalue ">
                                        <td>{{x.category}}</td>
                                        <td>{{x.count_case_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    <div class="image1">
                        <div id="kcchart1" style="margin-left: 150px"></div>
                    </div>
            </div>

                <!--New York City, NY-->
                <div id="new_York_City" class="tab-pane fade">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">NewYork City</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "nyfunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2010-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in nyvalue ">
                                        <td>{{x.complaint_type}}</td>
                                        <td>{{x.count_unique_key}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="nychart1" style="margin-left: 150px"></div>
                    </div>
                </div>


                <!--Austin, TX-->
                <div id="austin" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Austin</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "aufunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2013-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in auvalue ">
                                        <td>{{x.sr_type_desc}}</td>
                                        <td>{{x.count_sr_number}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="auchart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Baltimore, MD-->
                <div id="baltimore" class="tab-pane fade ">
                    <h2>Work in progress. (Unable to extract date from the data column)</h2>
                </div>

                <!--Baton Rouge, LA-->
                <div id="baton_Rouge" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Baton Rouge</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "bafunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2016-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in bavalue ">
                                        <td>{{x.division}}</td>
                                        <td>{{x.count_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="bachart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Boston , MA-->
                <div id="boston" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Boston City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{2010}}</td>
                                        <td>{{bsvalue2010}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2011}}</td>
                                        <td>{{bsvalue2011}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2012}}</td>
                                        <td>{{bsvalue2012}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2013}}</td>
                                        <td>{{bsvalue2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2014}}</td>
                                        <td>{{bsvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2015}}</td>
                                        <td>{{bsvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2016}}</td>
                                        <td>{{bsvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Boston}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="bs_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="bs_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--Chattanooga, TN-->
                <div id="chattanooga" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Chattanooga</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "ctfunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2010-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in ctvalue ">
                                        <td>{{x.description}}</td>
                                        <td>{{x.count_service_request_key}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="ctchart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Chicago, IL-->
                <div id="chicago" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Oakland</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "chifunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2014-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in chivalue ">
                                        <td>{{x.reqcategory}}</td>
                                        <td>{{x.count_requestid}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="chichart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Gainesville, FL-->
                <div id="gainesville" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Gainesville</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "gafunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2015-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in gavalue ">
                                        <td>{{x.category}}</td>
                                        <td>{{x.count_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="gachart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Houston, TX-->
                <div id="houston" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Washington, DC</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{2011}}</td>
                                        <td>{{hsvalue2011}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2012}}</td>
                                        <td>{{hsvalue2012}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2013}}</td>
                                        <td>{{hsvalue2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2014}}</td>
                                        <td>{{hsvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2015}}</td>
                                        <td>{{hsvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2016}}</td>
                                        <td>{{hsvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Washington}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="hs_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="hs_chart2" style="margin-left: 550px"></div>
                    </div>

                </div>

                <!--Johns Creek, GA-->
                <div id="johns_Creek" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Johns Creek</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2015</td>
                                        <td>{{jcvalue2015}}</td>
                                    </tr>
                                    <tr><td>2016</td>
                                        <td>{{jcvalue2016}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.JohnsCreek}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="jc_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="jc_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--Las Vegas, NV-->
                <div id="las_Vegas" class="tab-pane fade ">
                    <h1>Did NOt Find Any Data</h1>
                </div>

                <!--Los Angeles, CA-->
                <div id="los_Angeles" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Los Angeles</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2015</td>
                                        <td>{{lagraphvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>2016</td>
                                        <td>{{lagraphvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.LosAngeles}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="la_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="la_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>


                <!--Louisville, KY-->
                <div id="louisville" class="tab-pane fade ">
                    <h4 CLASS="text-danger"> The Louisville is not providing API, just csv file</h4>
                </div>

                <!--Minneapolis, MN-->
                <div id="minneapolis" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Minneapolis</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2011</td>
                                        <td>{{mi2011}}</td>
                                    </tr>
                                    <tr>
                                        <td>2012</td>
                                        <td>{{mi2012}}</td>
                                    </tr>
                                    <tr>
                                        <td>2013</td>
                                        <td>{{mi2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>2014</td>
                                        <td>{{mi2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>{{mi2015}}</td>
                                    </tr>
                                    <tr><td>2016</td>
                                        <td>{{mi2016}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Minneapolis}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="mi_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="mi_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--New Orleans, LA-->
                <div id="new_Orleans" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">New Orleans</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "nrfunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2012-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in nrvalue ">
                                        <td>{{x.issue_type}}</td>
                                        <td>{{x.count_ticket_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="nrchart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Philadelphia, PA-->
                <div id="philadelphia" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Philadelphia</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2014</td>
                                        <td>{{phvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>{{phvalue2015}}</td>
                                    </tr>
                                    <tr><td>2016</td>
                                        <td>{{phvalue2016}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.JohnsCreek}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ph_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="ph_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--Pittsburgh, PA-->
                <div id="pittsburgh" class="tab-pane fade ">
                </div>

                <!--Sacramento, CA-->
                <div id="sacramento" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Sacramento</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{2013}}</td>
                                        <td>{{scvalue2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2014}}</td>
                                        <td>{{scvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2015}}</td>
                                        <td>{{scvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2016}}</td>
                                        <td>{{scvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Sacramento}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sc_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="sc_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--San Diego, CA-->
                <div id="san_Diego" class="tab-pane fade ">
                </div>

                <!--San Francisco, CA-->
                <div id="san_Francisco" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">San Francisco</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "sffunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2010-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in sfvalue ">
                                        <td>{{x.service_name}}</td>
                                        <td>{{x.count_service_request_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="sfchart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Washington, DC-->
                <div id="washington" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Washington, DC</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{2010}}</td>
                                        <td>{{wdvalue2010}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2011}}</td>
                                        <td>{{wdvalue2011}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2012}}</td>
                                        <td>{{wdvalue2012}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2013}}</td>
                                        <td>{{wdvalue2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2014}}</td>
                                        <td>{{wdvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2015}}</td>
                                        <td>{{wdvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2016}}</td>
                                        <td>{{wdvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Washington}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="wd_chart1" style="float: left; margin-left: 50px"></div>
                        <div id="wd_chart2" style="margin-left: 550px"></div>
                    </div>
                </div>

                <!--Ann Arbor, MI-->
                <div id="ann_Arbor" class="tab-pane fade ">
                </div>

                <!--Asheville, NC-->
                <div id="asheville" class="tab-pane fade ">

                </div>

                <!--Cincinnati, OH-->
                <div id="cincinnati" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Cincinnati</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "cincifunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2014-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in cincivalue ">
                                        <td>{{x.service_name}}</td>
                                        <td>{{x.count_service_request_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="cincichart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--Jersey City, NJ-->
                <div id="jersey_City" class="tab-pane fade ">
                    <h1>coudn't find any data</h1>
                </div>

                <!--Salt Lake City, UT-->
                <div id="salt_Lake_City" class="tab-pane fade ">
                    <h1>coudn't find any data</h1>
                </div>

                <!--Santa Monica, CA-->
                <div id="santa_Monica" class="tab-pane fade ">

                </div>

                <!--St. Louis, MO-->
                <div id="st_Louis" class="tab-pane fade ">
                    <h1>Still searching for data anf found data for 2010,2015,2018 in csv file</h1>
                </div>

                <!--Oakland, CA-->
                <div id="oakland" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Oakland</h2>
                        <input type="text" name="selected_year"  ng-model="selected_year" style="float: left">
                        <button class="button" data-ng-click = "oakfunction(selected_year)">Get Results</button>
                        <h5 class="page-header text-center text-primary">Please Enter a year between <b>2014-2017</b> to get results</h5>
                        <div class="text-center">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table table-primary table-striped text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">Category</th>
                                        <th style="text-align: center">No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in oakvalue ">
                                        <td>{{x.reqcategory}}</td>
                                        <td>{{x.count_requestid}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="image1">
                        <div id="oakchart1" style="margin-left: 150px"></div>
                    </div>
                </div>

                <!--San Jose, CA-->
                <div id="san_Jose" class="tab-pane fade ">
                    <h1>The data was removed from their website, don't know why..<br/>
                        https://data.sanjoseca.gov/developers/<br/>
                        https://junar.github.io/docs/en/_sections/04-dataviews.html#requesting-a-data-view-with-parameters<br/>
                        https://junar.github.io/docs/en/_sections/07-statistics.html#examples</h1>
                </div>

                <!--Charlotte, NC-->
                <div id="charlotte" class="tab-pane fade ">
                    <h1>NO data found</h1>
                </div>

                <!--Denver, CO-->
                <div id="denver" class="tab-pane fade" >

                </div>

                <!--Grand Rapids, MI-->
                <div id="grand_Rapids" class="tab-pane fade ">
                    <h1>site cant be reached or removed</h1>
                </div>

                <!--Providence, RI-->
                <div id="providence" class="tab-pane fade ">
                    <h1>couldn't find data</h1>
                </div>

                <!--San Antonio, TX-->
                <div id="san_Antonio" class="tab-pane fade ">
                    <h1>couldn't find data</h1>
                </div>

                <!--Ferndale, MI-->
                <div id="ferndale" class="tab-pane fade ">
                </div>

                <!--Albuquerque, NM-->
                <div id="albuquerque" class="tab-pane fade ">
                </div>

                <!--Birmingham, AL-->
                <div id="birmingham" class="tab-pane fade ">
                </div>

                <!--Portland, OR-->
                <div id="portland" class="tab-pane fade ">
                </div>
            </div>

        </div>
    </div>
</div>
<SCRIPT SRC="top_catogories.js"></SCRIPT>
</body>
</html>
